body {
  background-image: url("./images/birthday-background.jpeg");
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #971a67;
}

/* privacy policy */
@keyframes top {
  to {
    top: -50px;
  }
}
.privacy-policy {
  background-color: #fffb00;
  color: #971a67;
  font-size: 1em;
  padding: 0.7rem;
  position: absolute;
  bottom: 0px;
  left: 5rem;
  right: 5rem;
  text-align: center;
}
.close {
  position: absolute;
  color: #2600ff;
  cursor: pointer;
  right: 6rem;
  animation-name: top;
  animation-duration: 4s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

/*main*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

/* container */
.container {
  display: flex;
  padding: 0.4rem;
}

/*left*/
.c1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2rem;
  width: 400px;
  color: rgb(150, 173, 248);
  border-rgb(255, 255, 255) 3rem;
}
.c1 h1 {
  text-align: center;
}
input {
  max-width: 200px;
}

/*input*/

input {
  padding: 0.4rem 0.6rem;
  font-family: inherit;
  font-size: 1rem;
}

/*birthday date heading*/

.birthday-date-heading {
  margin-bottom: 10px;
}

/*button*/

button {
  border-radius: 0.5rem;
  background-color: rgb(26, 112, 59);
  color: #ffffff;
  width: 5rem;
  height: 3rem;
  padding: 0.4rem 1.1rem;
  margin-top: 15px;
  border-color: #ffffff;
  border-width: 0.3rem;
}
button:hover {
  background-color: rgb(0, 77, 102);
  color: #ffffff;
}
.starter-box {
  display: block;
}
.starter-box img {
  margin-left: 40px;
}

.lucky-box {
  display: none;
}
.sad-box {
  display: none;
}
.sad-box img {
  margin-left: 40px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }
  .main {
    width: 100vw;
  }
}
